@import "tailwindcss";

 html,body{
  overflow-x:hidden;
}

.slick-dots li button:before {
  font-size: 14px !important;
  color: white !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  font-size: 17px !important;
  color: #5eead4 !important;
}

.slick-dots {
  bottom: 20px !important;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}



.animate-slideDown {
  animation: slideDown 0.7s ease-in-out forwards;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

 @keyframes fadeUp {
      from {
        opacity: 0;
        transform: translateY(40px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    /* স্লাইডারের প্রতিটি স্লাইড যাতে সমান থাকে */
.slick-slide > div {
  margin: 0 10px; /* কার্ডগুলোর মাঝে গ্যাপ দেওয়ার জন্য */
}

.slick-list {
  margin: 0 -10px;
}

/* আপনার কার্ডের ইমেজ যাতে স্ট্রেচ না হয় */
.your-card-class img {
  width: 100%;
  height: 250px; /* একটি নির্দিষ্ট হাইট দিন */
  object-fit: cover; /* এতে ছবি চ্যাপ্টা হবে না, সুন্দরভাবে ক্রপ হবে */
}